.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
backend/build
*.apk
*.ap_
*.dex
proguard/
*.log
.navigation/
*.iml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches
*.jks
.externalNativeBuild
google-services.json
